.uk-avatars {
  list-style-type: none;
  display: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

.uk-avatar-small {
  width: 26px;
  height: 26px;
  text-decoration: none !important;
  margin-left: 5px;
  transition: .35s all;
  &:first-child {
    margin-left: 0;
  }
  &:hover {
    opacity: 1;
  }
}

.uk-avatar-item {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid white;
  display: inline-block;
  position: relative;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
  transition: .2s ease;
  &:nth-child(1) {
    transform: translateX(0px)
  }
  &:nth-child(2) {
    transform: translateX(-12px)
  }
  &:nth-child(3) {
    transform: translateX(-24px)
  }
}

.uk-avatars:hover .uk-avatar-item:nth-child(n+2) {
  transform: translateX(0)
}