.diamond{
  cursor:pointer;
  height: 20px;
  width: 20px;
  transform: rotate(-45deg);
  display: inline-block;
  position: relative;
  transition: all .3s;

  .border{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) scale(1) ;
    width:100%;
    height:100%;
    border:2px solid #fff;
    box-sizing:border-box;
    transition:all .3s ease-in-out;
    opacity:1;
  }
  .back{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) scale(0) rotate(-45deg);
    width:100%;
    height:100%;
    opacity:0;
    background-color:#fff;
    transition:all .3s ease-in-out;
    color:white;
  }
}

.uk-opacity {
  transition:all .3s ease-in-out;
  opacity: .6;
  &:hover {
    opacity: 1;
  }
}

