$color: radial-gradient(circle at 67% 60%, #00bfff, #363cff, #9c24ff, #ffa500);

.gradient-theme {
  //background: $color !important;
  //text-align: left;
  //border: none;
}

.tippy-roundarrow {
  //fill: url(#my-cool-gradient) !important;
}