// the class we use to initialize jq-stars/svg-stars
//.jquery-stars {
//    display: inline-block;
//    vertical-align: middle;
//
//    +small {
//        //opacity: .5;
//        margin-left: 5px;
//        font-size: .8rem;
//        display: inline-block;
//    }
//}

.jq-stars {
    display: inline-block;
}

.jquery-stars-input {
    top: -2px;
    position: relative;
}


.jq-rating-label {
    font-size: 22px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    font-family: helvetica, arial, verdana;
}

.jq-star {
    width: 100px;
    height: 100px;
    display: inline-block;
    cursor: pointer;
    vertical-align: super;
}

.jq-star-svg {
    width: 100%;
    height: 100% ;
}

.jq-star:hover .fs-star-svg polygon {
}

.jq-star-svg polygon {
    stroke: #000;
    stroke-linejoin: round;
}

/* un-used */
.jq-shadow {
    -webkit-filter: drop-shadow( -2px -2px 2px #888 );
    filter: drop-shadow( -2px -2px 2px #888 );
}



