$result-item-height: 32px;
$none: 0;
$gentle-white: rgba(255, 255, 255, 0.7);
$strong-white: rgba(255, 255, 255, 0.9);
$gentle-border: 1px solid $gentle-white;
$strong-border: 2px solid $strong-white;
$diamond-size: 40px;
$diamond-border-width: 3px;
$border-rounded-border-radius: 6px;
$off-white-background: rgba(255,255,255,.1);
$off-white-border: 0.5px solid rgba(255,255,255,.3);

.tag {
  margin-right: 7px;
  margin-bottom: 7px !important;
  transition: .25s all;
  font-weight: 100 !important;
  cursor: pointer;
  color: rgba(255,255,255,1) !important;
  background-color: $off-white-background !important;
  border: $off-white-border;
  text-transform: inherit;
  overflow: hidden;
  padding-left: 0;

  .uk-result-thumbnail {
    height: $result-item-height + 1;
    width: $result-item-height;
    margin-right: 5px;
    display: inline-block;
    vertical-align: bottom;
    opacity: .5;
    transition: .25s all;
  }

  span {
    line-height: $result-item-height;
  }

  .uk-name {
    display: inline-block;
    padding-left: 3px;
    padding-bottom: 1px;
  }

  &:hover {
    background-color: rgba(255,255,255,.2) !important;
    .uk-result-thumbnail {
      opacity: 1;
    }
  }
}