.elastic-line {
  position: relative;
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0px;
    right: calc(100%);
    bottom: -2px;
    height: 2px;
    background-color: rgba(255,255,255,.7);
    transition: .21s ease-in-out;
    transition-property: right;
  }
}


