$result-item-height: 32px;
$none: 0;
$gentle-white: rgba(255, 255, 255, 0.7);
$strong-white: rgba(255, 255, 255, 0.9);
$gentle-border: 1px solid $gentle-white;
$strong-border: 2px solid $strong-white;
$diamond-size: 40px;
$diamond-border-width: 3px;
$border-rounded-border-radius: 6px;
$off-white-background: rgba(255,255,255,.1);
$off-white-border: 0.5px solid rgba(255,255,255,.3);

.source-links {
  margin-top: -3px;
}



//[data-stars="0.0"] polygon {
//  fill: black;
//}


.uk-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.checkboxes {
  border: 1px dashed white;
  height: 30px;
  line-height: 30px;
  color: white;
  padding: 0 0px 0 10px;
  border-radius: 4px;
  margin: 5px 0 30px 0;
}

.my-review {
  border-radius: 4px;
  opacity: .9;
  margin-top: -10px;
  transition: .25s all;

  .uk-form-custom {
    display: block;
  }
  &:hover {
    opacity: 1;
  }
}


.your-review {
  margin-left: 2px;
}

.sorter {
  button {
    transition: .25s all;
    width: 220px;
    border-radius: 4px;
  }
}

@media (min-width: 960px) {
  .sorter {
    position: absolute;
    right: 0;
    margin-top: 20px;
  }
}


.uk-result-list {
  border-radius: 4px;
  margin: 30px 0;
  border: 1px solid rgba(255,255,255,.7);
  position: relative;
  transition: .35s all;

  .head {
    padding: 12px 16px 7px 22px;
    transition: .35s all;
    border-bottom: 1px solid rgba(255,255,255,.7);
  }

  .body {
    padding: 16px 22px 12px 22px;
  }

  &:hover,  &:hover  {
  &, .description, .head{
    border-color: white;
  }
  }

  &:after {
    content: '';
    //border-left: 2px solid #28a5f5;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: -70px;
    z-index: 0;
  }



  .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
  }

  .genre-list {
    //white-space: nowrap;
    //overflow-x: auto;
  }

  .gradient {
    margin-right: 10px;
    width: 60px !important;
    height: 60px !important;
  }
  //
  //.gradient:first-child {
  //  margin-left: 0;
  //  opacity:0.999;
  //  img {
  //    opacity: 1;
  //  }
  //}

  .uk-border-rounded {
    overflow: hidden;
  }

  .uk-padding-small {
    padding: 20px 15px !important;
  }

  .uk-position-small {
    margin-left: 7px;
    margin-right: 3px;
  }
}


.description {
  //border: $off-white-border;
  //background: $off-white-background;
  //padding: 5px 5px 5px 10px;
  margin-bottom: 25px;
  //border-radius: 4px;
  font-size: 15px;
  border: none;
  transition: .35s all;
  border-left: 1px solid rgba(255,255,255,.3);
  font-style: italic;
  padding: 8px 8px 8px 15px;
  margin-left: 2px;
  //
  //height: 100px;
  //overflow: auto;
}


