<%= if @item.current_user_bookshelf_names do %>
<%= link to: fanfic_path(@conn, :index, Ficdb.EnumHelpers.set_nested_param(@conn.params, ["search", "bookshelves"], [@item.current_user_bookshelf.bookshelf.id])), class: "text-green-light hover:text-green whitespace-no-wrap" do %>
<i class="jam jam-book text-xl inline-block align-middle inset-b-1 mt-px pt-px mr-px pr-px relative"></i><span class=""><%= Phoenix.Naming.humanize @item.current_user_bookshelf_names %></span>
<% end %>
<% end %>
